{
    "version": 1,
    "siteroot": "/",
    "loadingIcon": "/img/logo.png",
    "loadingPage": true,
    "loadingProgress": true,
    "loadingAnimationTime": 500,
    "language": {
        "en": "/json/en.json",
        "cn": "/json/cn.json"
    },
    "preload": {
        "init": {
            "/plugin/bootstrap4/js/bootstrap.bundle.min.js": { "type": "js", "reload": false },
            "/plugin/bootstrap4/css/bootstrap.min.css": { "type": "css", "reload": false },
            "/tpl/include/gtpl.html": { "type": "tpl", "reload": false }
        }
    },
    "append": {
        "framework": {
            "/tpl/include/head.html": { "type": "html", "target": { "type": "id", "val": "tpl_header" } },
            "/tpl/include/foot.html": { "type": "html", "target": { "type": "id", "val": "tpl_footer" } },
            "/tpl/include/model.html": { "type": "html", "target": { "type": "id", "val": "tpl_model" } },
            "/js/init.js": { "type": "js" }
        }
    },
    "path": {
        "/": {
            "title": "tmpUI App!",
            "preload": ["init"],
            "append": ["framework"],
            "body": {
                "/css/index.css": { "type": "css" },
                "/tpl/index.html": { "type": "html", "target": { "type": "body" } }
            }
        },
    }
}
