{
    "version": 1,
    "siteroot": "/",
    "loadingIcon": "/tpl/img/logo.png",
    "loadingPage": true,
    "loadingProgress": true,
    "loadingAnimationTime": 500,
    "language": {
        "en": "/tpl/lang/en.json",
        "cn": "/tpl/lang/cn.json"
    },
    "preload": {
        "init": {
            "/tpl/plugin/bootstrap4/js/bootstrap.bundle.min.js": { "type": "js", "reload": false },
            "/tpl/plugin/bootstrap4/css/bootstrap.min.css": { "type": "css", "reload": false },
            "/tpl/css/reset.css": { "type": "css", "reload": false }
        }
    },
    "append": {
        "framework": {
            "/tpl/include/head.html": { "type": "html", "target": { "type": "id", "val": "tpl_header" } },
            "/tpl/include/foot.html": { "type": "html", "target": { "type": "id", "val": "tpl_footer" } },
            "/tpl/init.js": { "type": "js" }
        }
    },
    "path": {
        "/": {
            "title": "tmpUI App!",
            "preload": ["init"],
            "append": ["framework"],
            "body": {
                "/tpl/index.html": { "type": "html", "target": { "type": "body" } }
            }
        }
    }
}
