{
    "version": 4,
    "siteroot": "/",
    "dynamicRouter": "route",
    "Babel" : "babel.min.js",
    "jQuery" : "jquery.min.js",
    "GoogleAnalytics" :"G-4DGYKM9EHS",
    "pageNotFound":"/404.html",
    "loadingIcon": "/tpl/img/logo.png",
    "loadingPage": true,
    "loadingProgress": true,
    "loadingAnimationTime": 500,
    "language": {
        "en": "/tpl/lang/en.json",
        "cn": "/tpl/lang/cn.json"
    },
    "preload": {
        "init": {
            "/tpl/plugin/bootstrap4/bootstrap.bundle.min.js": { "type": "js", "reload": false },
            "/tpl/plugin/bootstrap4/bootstrap.min.css": { "type": "css", "reload": false },
            "/tpl/css/reset.css": { "type": "css", "reload": false },
            "/tpl/plugin/highlightjs/min.js": { "type": "js", "reload": false },
            "/tpl/plugin/highlightjs/min.css": { "type": "css", "reload": false }
        }
    },
    "append": {
        "framework": {
            "/tpl/include/head.html": { "type": "html", "target": { "type": "id", "val": "tpl_header" } },
            "/tpl/include/foot.html": { "type": "html", "target": { "type": "id", "val": "tpl_footer" } },
            "/tpl/init.js": { "type": "js-es6" }
        }
    },
    "path": {
        "/": {
            "title": "tmpUI App!",
            "preload": ["init"],
            "append": ["framework"],
            "body": {
                "/tpl/index.html": { "type": "html", "target": { "type": "body" } }
            }
        },
        "/404.html": {
            "title": "tmpUI App!",
            "preload": ["init"],
            "append": ["framework"],
            "body": {
                "/tpl/404.html": { "type": "html", "target": { "type": "body" } }
            }
        },
        "/getting_started.html": {
            "title": "tmpUI App - getting started",
            "preload": ["init"],
            "append": ["framework"],
            "body": {
                "/tpl/getting_started.html": { "type": "html", "target": { "type": "body" } },
                "/tpl/pages/introducation.html": { "type": "html", "target": { "type": "id", "val": "tpl_introducation" } },
                "/tpl/pages/config.html": { "type": "html", "target": { "type": "id", "val": "tpl_config" } },
                "/tpl/pages/function.html": { "type": "html", "target": { "type": "id", "val": "tpl_function" } },
                "/tpl/pages/tips.html": { "type": "html", "target": { "type": "id", "val": "tpl_tips" } }
            }
        }
    }
}
