html,
body {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    letter-spacing: 1px;
    line-height: 150%;
    height: 100%;
}

#tmpui_body {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
}

#footer {
    text-align: left;
    padding: 10px;
    bottom: 0;
    width: 100%;
    height: 60px;
    clear: both;
}
